* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ===== FONTS ===== */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 62.5%;

  /* ===== LIGHT MODE ===== */
  --bg-color-white: hsl(0, 0%, 100%);
  --bg-active-blue: hsl(194, 97%, 31%);
  --bg-card: hsl(240, 40%, 89%);
  --f-color-black: hsl(240, 6%, 21%);
  --f-color-white: hsl(0, 0%, 100%);

  --bg-input-black: hsl(240, 6%, 21%);
  --bg-input-white: hsl(0, 0%, 100%);

  /* ===== DARK MODE ===== */
  --bodyDarkMode: hsl(240, 5%, 7%);
  --bg-colorDarkMode: hsl(240, 6%, 17%);
  --bg-activeDarkMode: hsla(195, 74%, 15%);
  --f-colorDarkMode: hsl(0, 0%, 100%);
}

body {
  background: var(--bg-color-white);
  color: var(--f-color-black);
}

.page {
  max-width: 82.1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem;
}

.iconDay,
.iconNight {
  position: fixed;
  top: 6rem;
  right: 6rem;
}

.iconSoundOn,
.iconSoundOff {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
}

.controls {
  width: 32.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timer {
  height: 14.8rem;
  font-size: 12.6rem;
  display: flex;
}

.buttons {
  height: 4.8rem;
  display: flex;
  gap: 4rem;
}

.buttons button {
  width: 4.8rem;
  height: 4.8rem;
}

.hide {
  display: none;
}

.cards {
  width: 30.8rem;
  height: 33.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.cards button {
  width: 13.8rem;
  height: 11rem;
}

button {
  background: transparent;
  border: none;
}

.card {
  background: var(--bg-color-white);
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card svg path:nth-child(1) {
  fill: var(--bg-card);
}

svg path:nth-child(2) {
  fill: var(--f-color-black);
}

input[type='range'] {
  -webkit-appearance: none;
  width: 9rem;
  height: 0.6rem;
  border-radius: 0.5rem;
  background: var(--bg-input-black);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background: var(--bg-input-black);
}

.active svg path:nth-child(1) {
  fill: var(--bg-active-blue);
}

.active svg path:nth-child(2) {
  fill: var(--f-color-white);
}

.active {
  --bg-input-black: var(--bg-input-white);
}

.inputsDark {
  --bg-input-black: var(--bg-input-white);
}

.buttons svg path {
  fill: var(--f-color-black);
}

.sounds svg path {
  fill: var(--f-color-black);
}

/* =====DARK MODE =====*/

.darkMode {
  --bg-color-white: var(--bodyDarkMode);
  --f-color-black: var(--f-colorDarkMode);
  --bg-active-blue: var(--bg-activeDarkMode);
  --bg-card: var(--bg-colorDarkMode);
}

@media (min-width: 900px) {
  .page {
    flex-direction: row;
  }
}
