* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ===== FONTS ===== */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 62.5%;

  /* ===== LIGHT MODE ===== */
  --bg-color: hsl(0, 0%, 100%);
  --f-color: hsl(240, 6%, 21%);
  --bg-active: hsl(194, 97%, 31%);

  /* ===== DARK MODE ===== */
  --bg-colorDMode: hsl(240, 6%, 17%);
  --bg-activeDMode: hsla(195, 74%, 15%);
  --f-colorDMode: hsl(0, 0%, 100%);
}

body {
  background: var(--bg-color);
  color: var(--f-color);
}

.page {
  max-width: 82.1rem;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem;
}

.iconDay {
  position: fixed;
  top: 6rem;
  right: 6rem;
}

.iconNight {
  position: fixed;
  top: 6rem;
  right: 6rem;
}

.iconSoundOn {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
}

.iconSoundOff {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
}

.controls {
  width: 32.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timer {
  height: 14.8rem;
  font-size: 12.6rem;
  display: flex;
}

.buttons {
  height: 4.8rem;
  display: flex;
  gap: 4rem;
}

.buttons button {
  width: 4.8rem;
  height: 4.8rem;
}

.hide {
  display: none;
}

.cards {
  width: 30.8rem;
  height: 33.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.cards button {
  width: 13.8rem;
  height: 15.2rem;
}

button {
  background: transparent;
  border: none;
}

.active svg path:nth-child(1) {
  fill: var(--bg-active);
}

.active svg rect {
  fill: var(--bg-color);
}

.active svg circle {
  fill: var(--bg-color);
}

.active svg path:nth-child(4) {
  fill: var(--bg-color);
}

/* =====DARK MODE =====*/
.darkMode {
  background: #121214;
  color: var(--f-colorDMode);
}

.cardDark svg path:nth-child(1) {
  fill: var(--bg-colorDMode);
}

.cardDark svg rect {
  fill: var(--f-colorDMode);
}

.cardDark svg circle {
  fill: var(--f-colorDMode);
}

.cardDark svg path:nth-child(4) {
  fill: var(--f-colorDMode);
}

.buttonDakr svg path:nth-child(1) {
  fill: var(--f-colorDMode);
}

.buttonDakr svg path:nth-child(2) {
  fill: var(--f-colorDMode);
}

.buttonDakr svg path:nth-child(3) {
  fill: var(--f-colorDMode);
}

.buttonDakr svg path:nth-child(4) {
  fill: var(--f-colorDMode);
}

.buttonDakr svg path:nth-child(5) {
  fill: var(--f-colorDMode);
}

.buttonDakr svg path:nth-child(6) {
  fill: var(--f-colorDMode);
}

.activeDark svg path:nth-child(1) {
  fill: var(--bg-activeDMode);
}

.activeDark svg path:nth-child(2) {
  fill: var(--bg-activeDMode);
}
.activeDark svg path:nth-child(3) {
  fill: var(--bg-activeDMode);
}
