* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-palaquin: 'Palanquin', sans-serif;
  --ff-staatliches: 'Staatliches', cursive;
  --ff-open-sans: 'Open Sans', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;

  --f-color-first: hsl(0, 0%, 100%);
  --f-color-second: hsl(274, 84%, 12%);
  --f-color-third: hsl(232, 17%, 35%);
  font-size: 62.5%;

  --bg--first: hsl(233, 100%, 97%);
  --bg--second: hsl(218, 17%, 62%);
  --bg--third: hsl(275, 18%, 79%);
}

body {
  background: var(--bg--first);
  font-size: 1.6rem;
}

.page {
  margin: 0 auto;
  max-width: clamp(28rem, 50rem + 60vw, 200rem);
}

header {
  width: 100%;
  text-align: center;
  background: var(--bg--second);
  height: 28rem;
}

header .image {
  padding: 3.2rem 0;
}

header h1 {
  text-transform: uppercase;
  background: var(--bg--third);
  font-family: var(--ff-staatliches);
  font-size: 4rem;
  font-weight: 400;
  color: var(--f-color-first);
  letter-spacing: 0.05rem;
  line-height: 3.4rem;
  width: 100%;
  padding: 0.8rem 0;
}

.text p {
  max-width: 62rem;
  height: 23rem;
  margin: 0 auto;
  font-family: var(--ff-palaquin);
  font-weight: 400;
  font-size: 2rem;
  color: var(--f-color-second);
  line-height: 1.5rem;

  text-align: center;

  padding: 1.4rem 3.2rem;
}

main {
  margin: 0 auto;
  display: grid;
  gap: 3.6rem;
  padding: 0 3.2rem 6rem;
  /* max-width: 900px; */
  justify-content: center;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;

  transition-property: all;
  transition-duration: 400ms;

  animation: downtop 500ms 350ms backwards;
}

.card img:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
  box-shadow: 0px 0px 6px black;
}

.card h2 {
  position: absolute;
  top: 1.7rem;
  right: 1.7rem;
  background: var(--bg--first);
  border-radius: 2rem;
  padding: 0 2.3rem;
  font-size: 2rem;
  font-family: var(--ff-staatliches);
  font-weight: 400;
  color: var(--f-color-third);
  line-height: 3.4rem;
  letter-spacing: 0.05rem;

  animation: topdown 2000ms 350ms backwards;
}

.invisible {
  display: none;
}

.foot footer {
  display: none;
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 700px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'A B'
      'D B'
      'D C';
  }

  main div:nth-child(1) {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }

  main div:nth-child(3) {
    grid-area: C;
  }

  main div:nth-child(4) {
    grid-area: D;
  }

  .text p {
    height: 20rem;
  }
  .foot footer {
    display: flex;
    justify-content: center;
    width: 59.2rem;
    margin: 0 auto;
    font-size: 1.4rem;
    font-family: var(--ff-open-sans);
    color: var(--f-color-third);
  }

  .foot footer a {
    text-decoration: none;
    color: var(--f-color-third);
    font-weight: 700;
  }
}

@media (min-width: 900px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    grid-template-areas:
      'A B E'
      'D B F'
      'D C F';
  }

  main div:nth-child(1) {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }

  main div:nth-child(3) {
    grid-area: C;
  }

  main div:nth-child(4) {
    grid-area: D;
  }

  main div:nth-child(5) {
    grid-area: E;
  }

  main div:nth-child(6) {
    grid-area: F;
  }

  .head header p {
    font-family: var(--ff-roboto);
  }

  .invisible {
    display: grid;
  }

  .card {
    margin: 0;
  }

  .card h2 {
    display: none;
  }

  .foot footer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 4.6rem;
    font-size: 1.4rem;
    font-family: var(--ff-open-sans);
    color: var(--f-color-third);
  }

  .foot footer a {
    text-decoration: none;
    color: var(--f-color-third);
    font-weight: 700;
  }
}

@media (min-width: 1080px) {
  .page {
    display: flex;
    height: 100vh;
    margin: 0;
  }

  .head {
    min-width: 38rem;
    height: 100vh;
    background: var(--bg--second);
  }

  .text p {
    color: var(--f-color-first);
    font-size: 2.4rem;
    font-family: var(--ff-roboto);
    line-height: 2rem;
    font-weight: normal;
    background: var(--bg--second);
    height: 28rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100vw;
    padding: 0;
  }

  main {
    width: calc(100vw - 40rem);
    padding: 0;
    align-content: center;
    margin: 0 auto;
    padding: 6.4rem 8.1rem 5rem;
  }
}

@media (min-width: 1400px) {
  main {
    width: calc(100vw - 40rem);
    padding: 0;
    align-content: center;
    margin: 0 auto;
    padding: 6.4rem 14.1rem 5rem;
  }
}

@media (min-width: 1800px) {
  .head {
    min-width: 50rem;
  }

  header {
    width: 100%;
    text-align: center;
    background: var(--bg--second);
  }

  .text p {
    color: var(--f-color-first);
    font-size: 3rem;
    font-family: var(--ff-roboto);
    line-height: 3rem;
    font-weight: normal;
    background: var(--bg--second);
    margin: 3.2rem 4.8rem 0 5.4rem;
  }

  main {
    width: calc(100vw - 50rem);
    padding: 0;
    align-content: center;
    margin: 0 auto;
    padding: 8.4rem 12.1rem 5rem;
  }

  .foot footer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 4.6rem;
    font-size: 2.1rem;
    font-family: var(--ff-open-sans);
    color: var(--f-color-third);
  }

  .foot footer a {
    text-decoration: none;
    color: var(--f-color-third);
    font-weight: 700;
  }
}
