* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(0, 0%, 100%);
  --bg-active: hsl(194, 97%, 31%);
  --bg-inactive: hsl(240, 9%, 89%);
  --f-color: hsl(240, 6%, 21%);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 62.5%;
}

body {
  background: var(--bg-color);
  color: var(--f-color);
}

.page {
  max-width: 82.1rem;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.controls {
  width: 32.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timer {
  height: 14.8rem;
  font-size: 12.6rem;
  display: flex;
}

.buttons {
  height: 4.8rem;
  display: flex;
  gap: 4rem;
}

.buttons button {
  width: 4.8rem;
  height: 4.8rem;
}

.cards {
  width: 30.8rem;
  height: 33.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.cards button {
  width: 13.8rem;
  height: 15.2rem;
}

button {
  background: transparent;
  border: none;
}

.active svg path:nth-child(1) {
  fill: var(--bg-active);
}

.active svg path:nth-child(2) {
  fill: var(--bg-color);
}

.inactive svg path:nth-child(1) {
  fill: var(--bg-inactive);
}

.inactive svg path:nth-child(2) {
  fill: var(--f-color);
}
